.mt--500 {
  margin-top: -500px;
}
// .navbar-collapse {
//     height: calc(100vw - 1.5rem);
// }
.dick {
  filter: drop-shadow(1px 1px 1px #000) drop-shadow(-1px -1px 1px #fff);
}

.btn {
  text-transform: clear !important;
}
